@model List<TheBookCave.Models.ViewModels.AuthorListViewModel>

<div id="authorList">
    @foreach(var author in @Model)
    {
        <hr>
            <p><a asp-area="" asp-controller="Author" asp-action="Details" asp-route-id="@author.authorId" > @author.name </a></p>
    }
</div>