@model TheBookCave.Models.ViewModels.RegisterViewModel

<div class="checkout">
    <h2>Check Out!</h2>
    <form asp-action="CheckOut" asp-controller="Cart" class="form-horizontal">
        
        <div id="shipping">
            <label for="shipping">Shipping</label>
            <select id="shipping" name="shipping">
                <option value="shipment">Delivery</option>
                <option value="pick-up-l">Lagmuli 9</option>
                <option value="pick-up-b" >Bankastræti 0</option>
                <option value="pick-up-s" >Smáralind</option>
                <option value="pick-up-k" >Kringlan</option>
            </select>

        </div>
        <div class="form-group">
            <input type="email" asp-for="username" class="form-control" placeholder="Enter email.."/>
        </div>

        <div class="form-group">
            <input type="text" asp-for="name" class="form-control" placeholder="Enter full name.."/>
        </div>

        <div class="form-group">
            <input type="address" asp-for="address" class="formcontrol" placeholder="Enter address.."/>
        </div>

        <div id="country">
            <label for="country">Country</label>
            <select id="country" name="country">
                <option value="iceland">Iceland</option>
                <option value="denmark">Denmark</option>
                <option value="norway">Norway</option>
                <option value="sweden">Sweden</option>
            </select>
        </div>

        <div id="zip-code">
            <label for="zip-code">Zip code</label>
            <select id="iceland-zip">
                <option value="101">101</option>
                <option value="101">102</option>
                <option value="101">103</option>
                <option value="101">104</option>
                <option value="101">105</option>
            </select>
            <select id="denmark-zip">
                <option value="6000">6000</option>
                <option value="6040">6040</option>
                <option value="6051">6051</option>
                <option value="6052">6052</option>
                <option value="6070">6070</option>
            </select>
            <select id="norway-zip">
                <option value="0001">0001</option>
                <option value="0002">0002</option>
                <option value="0003">0003</option>
                <option value="0004">0004</option>
                <option value="0005">0005</option>
            </select>
            <select id="sweden-zip">
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="20">20</option>
                <option value="21">21</option>
                <option value="22">22</option>
            </select>
        </div>

        <div class="form-group">
            <input type="text" asp-for="socialSecurityNumber" class="form-control" placeholder="Enter social security number.."/>
        </div>

        <div class="form-group">
            <input type="tel" asp-for="phoneNumber" class="form-control" placeholder="Enter phone number.."/>
        </div>

        <div>
            <button type="submit" class="btn btn-default">Submit</button>
        </div>
    </form>
</div>