@model List<TheBookCave.Models.ViewModels.CartViewModel>

<p>Cart</p>
<div>
    @foreach(var cart in @Model)
    {
        <div>
            <p>@cart.id</p>
            <p>@cart.Book.title</p>
            
        </div>
    }
</div>